<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://humanistika.org/ns/tei-completer file:/C:/Users/skurz/Documents/git/TEI-Completer/src/main/resources/config.xsd"
    xmlns="http://humanistika.org/ns/tei-completer">
    <server>
        <!--        <baseUrl>https://pmb.acdh.oeaw.ac.at/apis/tei/tei-completer/</baseUrl>-->
        <baseUrl>https://mpr.acdh.oeaw.ac.at/apis/tei/tei-completer</baseUrl>
    </server>
    <autoComplete>
        <context>//rs</context>
        <attribute>@ref</attribute>
        <dependent default="person">@type</dependent>
        <selection>./text()</selection>
        <request>
            <url>$baseUrl/$dependent/?q=$selection</url>
        </request>
        <response>
            <transformation>notransform.js</transformation>
        </response>
        <swapValueAndDescription>false</swapValueAndDescription>
    </autoComplete>
    <autoComplete>
        <context>//persName</context>
        <attribute>@ref</attribute>
        <dependent default="person">@type</dependent>
        <selection>./text()</selection>
        <request>
            <url>$baseUrl/person/?q=$selection</url>
        </request>
        <response>
            <transformation>notransform.js</transformation>
        </response>
        <swapValueAndDescription>true</swapValueAndDescription>
    </autoComplete>
    <autoComplete>
        <context>//placeName</context>
        <attribute>@ref</attribute>
        <dependent default="place">@type</dependent>
        <selection>./text()</selection>
        <request>
            <url>$baseUrl/place/?q=$selection</url>
        </request>
        <response>
            <transformation>notransform.js</transformation>
        </response>
        <swapValueAndDescription>true</swapValueAndDescription>
    </autoComplete>
    <autoComplete>
        <context>//orgName</context>
        <attribute>@ref</attribute>
        <dependent default="institution">@type</dependent>
        <selection>./text()</selection>
        <request>
            <url>$baseUrl/institution/?q=$selection</url>
        </request>
        <response>
            <transformation>notransform.js</transformation>
        </response>
        <swapValueAndDescription>true</swapValueAndDescription>
    </autoComplete>
    <!--<autoComplete>
        <context>//rs</context>
        <attribute>@key</attribute>
        <dependent default="default-type">@type</dependent>
        <selection>./text()</selection>
        <request>
            <url>$baseUrl/dependent=$dependent/?q=$selection</url>
        </request>
        <response>
            <transformation>notransform.js</transformation>
        </response>
        <swapValueAndDescription>true</swapValueAndDescription>
    </autoComplete>
    <autoComplete>
        <context>//persName</context>
        <attribute>@key</attribute>
        <selection>./text()</selection>
        <request>
            <url>$baseUrl/person/?q=$selection</url>
        </request>
        <response>
            <transformation>notransform.js</transformation>
        </response>
        <swapValueAndDescription>true</swapValueAndDescription>
    </autoComplete>
    <autoComplete>
        <context>//placeName</context>
        <attribute>@key</attribute>
        <selection>./text()</selection>
        <request>
            <url>$baseUrl/place/?q=$selection</url>
        </request>
        <response>
            <transformation>notransform.js</transformation>
        </response>
        <swapValueAndDescription>true</swapValueAndDescription>
    </autoComplete>
    <autoComplete>
        <context>//orgName</context>
        <attribute>@key</attribute>
        <selection>./text()</selection>
        <request>
            <url>$baseUrl/institution/?q=$selection</url>
        </request>
        <response>
            <transformation>notransform.js</transformation>
        </response>
        <swapValueAndDescription>true</swapValueAndDescription>
    </autoComplete>-->
</config>